___
# **Jour 4 — Librairie Pandas & Affichage graphique**

| **Objectifs de la journée**
- Lire, écrire et manipuler différents types de fichiers (texte, binaire, JSON, CSV).  
- Organiser et automatiser des traitements en lots sur le système de fichiers.  
- Interagir avec le système via des commandes et arguments (subprocess, argparse).  
- Découvrir les ORMs (Peewee, SQLAlchemy) pour manipuler les bases de données.


| **Plan**

1. Manipulation de fichiers CSV/JSON.  
2. Affichage graphique avec matplotlib
3. Interface graphique avec Streamlit.
5. Projet : traitement de fichiers en lots via une interface graphique.  


Cette journée met l’accent sur l’**automatisation** et la capacité de Python à interagir avec son environnement (fichiers, système, bases de données, workflows).

___
### **1. Manipulation de fichiers CSV/JSON avec ``pandas``**

L’utilisation de **`pandas`** permet de traiter rapidement des données tabulaires ou semi-structurées comme le **CSV** et le **JSON**. C’est un outil central pour l’analyse et l’automatisation de traitements en lots.

| **Bonnes pratiques**

- Vérifier l’encodage (utf-8, latin-1) lors de la lecture/écriture.
- Utiliser index=False lors de l’export pour éviter la colonne d’index par défaut.
- Valider la cohérence des colonnes (noms, types) dès le chargement.

Avec pandas, la manipulation de CSV/JSON devient plus simple et plus puissante que l’usage des bibliothèques standard seules, ce qui en fait un incontournable pour l’automatisation des tâches de traitement de données.

Par la suite, nous utiliserons le jeu de données suivant pour manipuler la bibliothèque pandas :

`https://raw.githubusercontent.com/Quera-fr/Python-Programming/refs/heads/main/data.csv`

In [ ]:
# Introduction à pandas : pip install pandas
!pip install pandas

In [ ]:
# Filtre

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
...,...,...,...,...,...,...,...,...,...,...,...
8052,467455,Female,No,37,Yes,Artist,8.0,Low,2.0,Cat_6,C
8058,460674,Female,No,31,Yes,Entertainment,0.0,Low,3.0,Cat_3,A
8060,463613,Female,Yes,48,Yes,Artist,0.0,Average,6.0,Cat_6,A
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,B

In [ ]:
# Grouper par Profession et Gender puis calculer la moyenne des Ages et Work_Experiences :groupby(["Profession", "Gender"])[["Age", "Work_Experience"]].mean()

                            Age  Work_Experience
Profession    Gender
Artist        Female  46.406430         2.817446
              Male    46.254029         2.606873
Doctor        Female  37.815789         2.387097
              Male    36.757812         2.809117
Engineer      Female  41.509839         2.650794
              Male    42.685714         2.370968
Entertainment Female  39.818182         3.276596
              Male    44.163793         2.559809
Executive     Female  43.593750         2.423077
              Male    51.520282         2.322709
Healthcare    Female  27.475763         2.766000
              Male    26.361290         2.464912
Homemaker     Female  37.113300         6.560000
              Male    41.744186         6.000000
Lawyer        Female  74.905537         1.247232
              Male    75.515823         1.211896
Marketing     Female  36.201220         3.271429
              Male    37.609375         1.805310

In [ ]:
# Traitement de la donnée par lambda

0         male_2025
1       female_2025
2       female_2025
3         male_2025
4       female_2025
           ...
8063      male_2025
8064      male_2025
8065    female_2025
8066    female_2025
8067      male_2025
Name: Gender, Length: 8068, dtype: object

### **2. Affichage graphique avec matplotlib**

La bibliothèque **`matplotlib`** est la référence en Python pour la visualisation 2D. Elle permet de créer des graphiques simples (courbes, barres, histogrammes, nuages de points) et d’intégrer rapidement une représentation visuelle dans un projet.


| **2. Types de graphiques**
- Courbe simple : ``plt.plot``
- Histogramme : ``plt.hist``
- Nuage de points : ``plt.scatter``
- Diagramme en barres : ``plt.bar``



| **3. Personnalisation**
- Titres et labels (plt.title, plt.xlabel, plt.ylabel)
- Couleurs, styles de ligne, marqueurs (plt.plot(x, y, "r--o"))
- Légende (plt.legend)
- Grilles (plt.grid(True))



| **4. Bonnes pratiques**
- Toujours ajouter des titres, axes, légendes pour la lisibilité.
- Sauvegarder les graphiques avec plt.savefig("figure.png").
- Privilégier des couleurs contrastées et des tailles adaptées.

``matplotlib`` fournit les fondations de la visualisation en Python. Pour des graphiques interactifs et plus complexes, on peut explorer seaborn ou plotly.

In [ ]:
!pip install seaborn

### **3. Interface web : Streamlit**

[Streamlit](https://docs.streamlit.io/develop/api-reference) permet de transformer rapidement du code Python en interface web interactive (filtres, formulaires, graphiques) sans écrire de HTML/CSS. Idéal pour des prototypes, des dashboards data et des petits outils internes.

**Installation & lancement**
```
pip install streamlit
streamlit run app.py
```


---


## Projet — Gestion de base de données avec Streamlit

**Objectif.** Créer une interface CRUD simple en s’appuyant sur votre module **database** (ex: `DatabaseManager`).

**Consignes.**

* Initialiser la base SQLite (création d’une table `users` ou `produits` via le module).
* Pages ou onglets :

  * **Créer** : formulaire d’ajout d'une table.
  * **Lire** : tableau des enregistrements + recherche/filtre.
  * **Mettre à jour** : sélection d’une ligne puis édition.
  * **Supprimer** : Suppression d'une table.
* Intégration directe des méthodes du module (create_table, insert, show_table, drop/update si ajoutée).
* Gestion d’erreurs (exceptions SQL) et messages utilisateur (`st.success`, `st.error`).
* Bonus : export CSV, import CSV, pagination.

**Livrables.**

* `app.py` (Streamlit), votre module `database.py` (ou package), `requirements.txt`, fichier `.db` généré.

In [ ]:
pip install streamlit